<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iris Species Predictor</title>
</head>
<body>
    <h1>Iris Species Predictor</h1>
    <form action="/predict" method="post">
        Sepal Length: <input type="number" step="any" name="sepal_length"><br>
        Sepal Width: <input type="number" step="any" name="sepal_width"><br>
        Petal Length: <input type="number" step="any" name="petal_length"><br>
        Petal Width: <input type="number" step="any" name="petal_width"><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>